<!doctype html>
<html lang="uz">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Ali Kuryer{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/app.css') }}">
  <script src="{{ url_for('static', path='/app.js') }}" defer></script>
</head>
<body>
<header><a href="/">Ali Kuryer</a><nav><a href="/admin">Admin</a> <a href="/restaurant">Oshxona</a> <a href="/courier">Kuryer</a></nav></header>
<main>{% block content %}{% endblock %}</main>
</body>
</html>
